.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

button {
  height: 35px;
  width: 100px;
  border-radius: 25px;

}

.button:hover {
  /* border: solid 2px #0A1647; */
  background: linear-gradient(0deg, rgb(188, 146, 132) 0%, hsla(222, 77%, 33%, 1) 100%);
}